<h1> All Posts </h1>


{{#if success}}
    <div class="alert alert-success">{{success}}</div>{{/if}}
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>File</th>
        <th>Title</th>

        <th>Status</th>
        <th>Category</th>
        <th>No.Comments</th>
        <th>Date</th>
        <th>Allow Comments</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>

    {{# each Posts as |Postvalue Postkey|}}
        <tr>

            <td>{{Postvalue.id}}</td>
            <td><img src="/uploads/{{#if file}}{{file}} {{else}}BMW-i8.jpg{{/if}}  " style="width: 50px;height: 50px">
            </td>
            <td>{{Postvalue.title}}</td>

            <td>{{Postvalue.status}}</td>
            <th>{{Postvalue.category.name}}</th>
            <th>{{Postvalue.comments.length}}</th>
            <td>{{time Postvalue.date 'MMMM D YYYY'}}</td>

            <td>{{Postvalue.allowComments}}</td>
            <td>
                <button data-toggle="modal" data-target="#editPost{{Postvalue.id}}" class="btn btn-info"><i
                        class="fa fa-edit"></i>
                </button>
                <a href="/admin/posts/delete/{{Postvalue.id}}" class="btn btn-danger"><i class="fa fa-trash"></i></a></td>

            <!-- Modal For Edit Post -->

            <div id="editPost{{Postvalue.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <form action="/admin/posts/edit/{{Postvalue.id}}?_method=Put" method="post" enctype="multipart/form-data">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Edit Post {{Postvalue.title}}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title"> Title</label>
                                    <input type="text" name="title" id="title" class="form-control" value="{{Postvalue.title}}">

                                </div>
                                <div class="form-group">
                                    <label for="status"> Status</label>
                                    <select name="status" id="status" class="form-control">

                                        <option {{#ifEquals Postvalue.status "public" }} selected  {{/ifEquals}}value="public">
                                            Public
                                        </option>
                                        <option {{#ifEquals Postvalue.status "private" }} selected  {{/ifEquals}} value="private">
                                            Private
                                        </option>
                                        <option {{#ifEquals Postvalue.status "draft" }} selected  {{/ifEquals}} value="draft">
                                            Draft
                                        </option>

                                    </select>

                                </div>
                                <div class="form-group">
                                    <label for="category"> Categories</label>
                                    <select name="category" id="category" class="form-control">

                                        {{#each ../Categories as |catvalue catkey|   }}
                                            <option {{#ifEquals Postvalue.category.id catvalue.id }} selected  {{/ifEquals}} value="{{catvalue.id}}"> {{catvalue.name}}
                                            </option>
                                        {{/each}}

                                    </select>

                                </div>
                                <div class="form-check" style="margin: 18px">
                                    <label for="allowComments">
                                        <input type="checkbox" name="allowComments" id="allowComments"
                                               class="form-check-input" value="true" {{#if Postvalue.allowComments}}
                                               checked {{/if}}>
                                        Allow Comments
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label for="file"> File</label>
                                    <input type="file" name="file" id="file" class="form-control">
                                    <img src="/uploads/{{#if file}}{{file}} {{else}}BMW-i8.jpg{{/if}}  "
                                         style="width: 50px;height: 50px">
                                </div>
                                <div class="form-group">
                                    <label for="body"> Body</label>
                                    <textarea name="post" id="title" rows="10" class="form-control">{{Postvalue.body}}
                                    </textarea>
                                </div>
                                <div class="form-group">
                                    <label for="category"> Comments</label>

                           {{#each Postvalue.comments}}

                             <h4>{{body}}</h4>
                           <h8>{{time date 'MMMM DO YYYY'}} By {{user.firstName}}{{user.lastName}}</h8>
                               <br>
                           {{/each}}

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary"> Submit</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
            <!-- end Modal For Edit Post -->
        </tr>
    {{/each}}

    </tbody>
</table>